* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .menu-bar {
	background: #fff;
	width: 100%;
	/*position: fixed;*/
	
	z-index: 99;
	top: 0;
	padding: 0 2.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	
}

header .menu-bar .menu-principal .logo {
	
	max-width: 3.125rem;
	
}

header .menu-bar .menu-principal a {
	font-family: 'Dancing Script', cursive;
	padding: 0 0.5625rem;
	text-decoration: none;
	font-size: 1.550rem;
}

header .menu-bar .top-red a {
	
	text-decoration: none;
}




#presentacion {
	/*width: 1080px;*/
	height: 500px;
	margin: 5px 20px;
	background-color: #F4EAE9;
	display: block;

}

.container h3 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 3.375rem;
	margin:auto;
	padding: 20px;
	
}

.container h6 {

	font-size: 2.150rem;
	text-align: center;
	padding: 5px 10px;
	padding: 20px;
}

.container p {
	font-size: 1.380rem;
	text-align: center;
	padding: 5px 10px;
}

#conoceme {
	font-family: 'Amatic SC', cursive;
	background-color: #F4EAE9;
	height: 500px;
	margin: 5px 20px;
	display: block;

}

#cita {
	font-family: 'Dancing Script', cursive;
	background-color: #F4EAE9;
	height: 500px;
	margin: 5px 20px;
	display: block;
}

#presentacion {
	font-family: 'Dancing Script', cursive;
	background-color: #F4EAE9;
	height: 500px;
	margin: 5px 20px;
	display: block;
}



footer {
	background-color: #c29b9d;
	height: 80px;
	justify-content: space-between;
	align-items: center;	
	display: flex;
	padding: 50px;
}

.bottom-red a {

	text-decoration: none;
}