* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .menu-bar {
	background: #fff;
	width: 100%;
	height: 100px;
	/*position: fixed;*/
	z-index: 99;
	top: 0;
	padding: 0 2.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}

header .menu-bar .menu-principal .logo {
	
	max-width: 3.125rem;
	
}

header .menu-bar .menu-principal a {
	font-family: 'Abril Fatface', cursive;
	padding: 0 0.5625rem;
	text-decoration: none;
	font-size: 1.250rem;
	color: black;
}

header .menu-bar .top-red a {
	
	text-decoration: none;

}

.container {
	width: 98%;
	height: 500px;
	margin: 5px 20px;	
}

.container h3 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 2.475rem;
	margin:auto;
	padding: 20px;
	
}

.container h6 {

	font-size: 1.550rem;
	text-align: center;
	padding: 5px 10px;
	
}

.container p {
	font-size: 1.180rem;
	text-align: center;
	padding: 5px 10px;
}

#presentacion {
	height: 800px;
	background-color: #F4EAE9;
	display: flex;
	position: relative;
}

#hpresent {

	position:relative;
	right: 300px;
}

#ann1 {
	position: relative;
	left: 180px;
	top: 100px;
	z-index:100;
}

#ann2  {
	position: relative;
	top: 530px;
	left: 80px;
	z-index: 200;
}

#ann3  {
	position: relative;
	top: 330px;
	left: -78px;
	z-index: 300;
}

#mancha1{
	position: relative;
	left: -600px;
	top: 80px;
}

#servicios {

	font-family: 'Abril Fatface', cursive;
	height: 500px;
	text-align: center;
}



div .service {
	width: 15%;
	height: 60%;
	background-color: #c29b9d;
	display: inline-block;
	margin: 30px;
}



#conoceme {
	font-family: 'Abril Fatface', cursive;
	background-color: #F4EAE9;
	height: 700px;
	text-align: right;	
}

 #img-quiensoy{
	width: 50%;
	height: 55%;
	background-color: #c29b9d;
	display: inline-block;
	margin: 30px;
}

#cita {
	font-family: 'Abril Fatface', cursive;
	height: 500px;
	text-align: center;

	
}

#comillas{
	width: 70px;
	height: 80px;
	display: inline-block;
	margin: 40px;
}

#client {
	background-color: #F4EAE9;
	font-family: 'Abril Fatface', cursive;
	height: 500px;
	text-align: center;
}

.clients{
	width: 12%;
	height: 40%;
	background-color: #c29b9d;
	display: inline-block;
	margin: 30px;
	border-radius: 100%;
}

#letter {
	font-family: 'Abril Fatface', cursive;
	height: 500px;
	
	
}

#ig-red {
	background-color: #F4EAE9;
	font-family: 'Abril Fatface', cursive;
	height: 500px;
	
	
}



footer {
	font-family: 'Abril Fatface', cursive;
	background-color: #c29b9d;
	height: 80px;
	justify-content: space-between;
	align-items: center;	
	display: flex;
	padding: 50px;
	font-size: 0.975rem;
}

.bottom-red a {
	text-decoration: none;
}